body {
  background-color: #007b83;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.kanban-container {
  padding: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
}

h1 {
  margin-bottom: 20px;
}

.form {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  width: 200px;
  outline: none;
}

.form button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background-color: #3c9e42;
}

.kanban-board {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.kanban-column {
  flex: 1;
  min-width: 250px;
  padding: 10px;
  border-radius: 10px;
  min-height: 400px;
  transition: background 0.3s;
}

.kanban-column:hover {
  filter: brightness(0.97);
}

.kanban-column h2 {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  padding: 8px;
  border-radius: 6px;
}

.task-card {
  background: white;
  color: #333;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

.task-card:active {
  cursor: grabbing;
  opacity: 0.7;
}

.task-card h3 {
  margin: 0;
  font-size: 16px;
}

.task-card p {
  font-size: 14px;
  color: #555;
  margin: 5px 0 10px;
}

.delete-btn {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.delete-btn:hover {
  background: #c0392b;
}
